# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales
*.log
*.tmp
*.DS_Store

# Archivos de configuración de IDEs
.vscode/
.idea/

#Modelos SAM
*.pth

#Otros
Estructura.txt
Ideas.txt

#LaMa
lamarepo